<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  <% if current_profile %>
    window.currentProfile = <%= render(
      "api/profiles/profile.json.jbuilder",
      profile: current_profile
    ).html_safe%>
  <% end %>

  <% if all_genres %>
    window.allGenres = <%= render(
      "api/genres/genres.json.jbuilder",
      genres: all_genres
    ).html_safe %>
  <% end %>

  window.staticImages = {
    splashBackground: "<%= asset_path('splash_background.png')%>",
    sessionBackground: "<%= asset_path('session_background')%>",
    github: "<%= asset_path('/contact/github.png') %>",
    defaultAvatar: "<%= asset_path('/avatars/default_avatar.png')%>",
    avatar4: "<%= asset_path('/avatars/avatar4.png')%>",
    addIcon: "<%= asset_path('/add_icon.svg') %>",
    playIcon: "<%= asset_path('/play_icon.png')%>"
  }
</script>

<main id="root"></main>
